

* {
    font-family: monospace;
    margin:0;
}

nav {
    height: 5em;
    width: 100%;
    background-color: lightgrey;
    border-radius: 10px;
    }
  
nav li {
    background-color: lightgray;
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
    list-style-type: none;
    justify-content: space-evenly;
    border-radius: 5px;
}


nav li:hover {
    background-color: darkcyan;
        color: #a49cba;
        text-decoration: underline;
    }

.content {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    justify-content: center;
}



.postcreation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgray;
    border-radius: 10px;
    width: 40%;
    height: 30vh;
    padding: 1em;
}


#row {
    display: flex;
    flex-direction: row;
    text-align: left;
    
}

.postbody > div{
    margin-right: 0.75em;
    
}



textarea {
    resize: none;
    width: 80%;
    height: 15vh;
    float: right;
    border: 0;

}


label + input{
    margin: 1em;
}
.fileselect > button{
    color: white;
    background-color: #808B96;
    border: 1px solid black;
    padding: 5px 10px;
}



@media (max-width: 599px) {

    .content{
        width: 100vw;
    }
    .content form{
        width: 100vw;
        height: 50vh;
    }
    form > div >textarea{
        height: 30vh;
    }
}
