*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}


#content{
    margin-top: 5em;
    display: flex;
    
}

#posts-container{
    display: flex;
    flex-direction: column;
    width: 50%;


}

aside{
    width: 25%;
    background-color: darkcyan;
    margin: 0.25em;
    border-radius: 10px;
    min-height: 90vh;
}

.post {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
}

.post-image{
    max-width: 400px;
    max-height: 400px;
    object-fit: scale-down;
}

.post-header{
    display:flex;
    justify-content: space-between;
}
.post-image-content{
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

/* nav bar css starts here*/
.header{
    display: flex;
    width: 100vw;
    flex-direction: row;
    background-color: lightgrey;
    align-items: center;
    position: fixed; 
    top: 0; 
    height: 5em;

}
.profile {
    position: relative;
    display: inline-block;
    display: flex;
    
}

#profile-picture {
    width: 4em;
    height: 4em;
    border-radius: 5px;
    border: solid 2px black;
}

.dropdown{
    position: relative;
    display: inline-block;
}
#dropdownContent{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    z-index: 99;
    position: absolute;
    background-color: lightgrey;
    padding: 2em;
    box-shadow: 5px 5px black;
    border: 1px solid black;
}

#dropdownContent>a{
    padding: 0.25em
}

nav {
    height: 5em;
    width: 80%;
    border-radius: 10px;
    }
  
nav li {
    background-color: lightgray;
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
    list-style-type: none;
    justify-content: space-evenly;
    border-radius: 5px;
}


nav li:hover {
    background-color: darkcyan;
        color: #a49cba;
        text-decoration: underline;
    }

 /*-----------------------------------*/   

footer{
    height: 10vh;
    width: 100%;
    background-color: lightgray;
    margin: 0.25em;
    border-radius: 10px;
}


@media (max-width: 599px) {

aside{
    visibility: hidden;
}
#dropdownContent{
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    z-index: 999;
    overflow: auto;
}
.post-image{
    max-width: 200px;
    max-height: 200px;
    object-fit: scale-down;
}
.post {
    width: 80vw;
    
}
#posts-container{
    width: 100vw;
    padding: 0;
    margin: 0;
    
}
.header{width: 100vw;}
}