.post {
    background-color: lightgrey;
    border-radius: 10px;
    width: 50%;
}

.post-container {
    display: flex;
    align-content: center;

}

nav {
    height: 40px;;
    width: 100%;
    background-color: lightgrey;
    }
  
nav li {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

nav li a:hover {
        color: #a49cba;
        text-decoration: underline;
    }