*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: large
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login-form {
    font-size: px;
    padding: 2em;
    margin-top: 2em;
    background-color: lightgrey;
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#login-form>label{
    font-weight: bold;
}

form>button{
    background-color: darkcyan;
    color: white;
    padding: 0.5em;
    width: 33%;
    border-radius: 5px;
    
}

form>button:hover{
    color:darkcyan;
    background-color: white;
    transition: 0.33s;
}

a ~ p{
    margin-top:0.5em;
    margin-bottom: 0.5em;
}

#login-form input{
    margin-top: 0.33em;
    margin-bottom: 0.33em;
    width: 66%;
}

@media (max-width: 600px) {


*{
   font-weight: normal;
}
#login-form {
    background-color: lightgrey;
    width: 100%;
    border-radius: 10px;
}
.header{
    margin: 0;
    border-radius: 0px;
    width: 100%;
}

}

    
nav {
    height: 5em;
    width: 100%;
    background-color: lightgrey;
    border-radius: 10px;
    }
  
nav li {
    background-color: lightgray;
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
    list-style-type: none;
    justify-content: space-evenly;
    border-radius: 5px;
}


nav li:hover {
    background-color: darkcyan;
        color: #a49cba;
        text-decoration: underline;
    }
.header{
    width: 100%;
}